{% extends 'admin/common/header.twig' %}

{% block title %}
	<i class="fa fa-eye-slash"></i> Supervisorg
{% endblock %}
{% block shortTitle %}
	<i class="fa fa-eye-slash"></i>
{% endblock %}

{% block custom %}
    <li>
    	<a href="#" id="refresh" data-toggle="tooltip" data-placement="bottom" title="Refresh&nbsp;now"><i class="fa fa-refresh"></i></a>
    </li>
    <li>
        <a href="#" id="play" style="display: none;" data-toggle="tooltip" data-placement="bottom" title="Play"><i class="fa fa-play"></i></a>
        <a href="#" id="stop" data-toggle="tooltip" data-placement="bottom" title="Stop"><i class="fa fa-stop"></i></a>
    </li>
    <li>
    <!-- <a href="#"> -->
    	<div id="timer"></div>
    <!-- </a> -->
    </li>
{% endblock %}
