{% extends 'admin/common/body.twig' %}

{% block title %}Supervisorg{% endblock %}
{% block skin %}skin-blue{% endblock %}

{% block header %}
    {% include 'header.twig' %}
{% endblock %}

{% block sidebar %}
    {{ render(url('sidebar')) }}
{% endblock %}

{% block pageTitle %}
    {{title}}
    <small>{{ processes|length }} process{% if processes|length > 1 %}es{% endif %}</small>
{% endblock %}

{% block body %}
    {% include 'common/alerts.twig' %}
    <div class="row">
    {% for process in processes %}
        {% embed 'partials/process_tile.twig' %}{% endembed %}
    {% endfor %}
    </div>
{% endblock %}


{% block specificsJavascripts %}
{% javascripts
    '../assets/js/libs/mousetrap.min.js'
    '../assets/js/libs/jquery.countdown360.min.js'
    '../assets/js/timer.js'
    '../assets/js/search.js'
%}
<script type="text/javascript" src="/{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock specificsJavascripts %}
