{% extends 'admin/common/body.twig' %}

{% block title %}Supervisorg{% endblock %}
{% block skin %}skin-purple{% endblock %}

{% block header %}
    {% include 'header.twig' %}
{% endblock %}

{% block sidebar %}
    {% include 'sidebar.twig' %}
{% endblock %}

{% block body %}
    {% for server in servers %}
    <h3><i class="fa fa-server"></i> {{ server.name }}</h3>
    <div class="row">
        {% for process in server.processList %}
            {% embed 'partials/process_tile.twig' %}{% endembed %}
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}


{% block specificsJavascripts %}
{% javascripts
    '../assets/js/libs/mousetrap.min.js'
    '../assets/js/libs/jquery.countdown360.min.js'
    '../assets/js/timer.js'
    '../assets/js/search.js'
%}
<script type="text/javascript" src="/{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock specificsJavascripts %}
