{% extends 'common/body.html.twig' %}

{% block body %}
    <div class="row">
    {% for process in processList %}
        {% embed 'partials/process_tile.twig' %}{% endembed %}
    {% endfor %}
    </div>
{% endblock %}


{% block specificsJavascripts %}
{% javascripts
    '../assets/js/jquery.countdown360.min.js'
    '../assets/js/timer.js'
%}
<script type="text/javascript" src="/{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock specificsJavascripts %}
