{% extends 'admin/common/sidebar.twig' %}

{% block user %}{% endblock %}
{% block search %}{% endblock %}

{% block menu %}
<form action="#" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="process-search" class="form-control" id="process-search" placeholder="Process or state">
        <span class="input-group-btn">
            <button type="submit" name="search" id="process-search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
    </div>
</form>
 <ul class="sidebar-menu">
    <li class="header">Browse</li>

    {% set serverMenuItems = [] %}
    {% for server in servers %}
        {% set serverMenuItems = serverMenuItems|merge([{
            'route': 'servers',
            'parameters': {'serverName': server.name},
            'text': server.name
        }]) %}
    {% endfor %}
    {{ ui_menu.multi('Servers', 'server', serverMenuItems) }}

    {% if apps is not empty %}
    {% set appMenuItems = [] %}
    {% for app in apps %}
        {% set appMenuItems = appMenuItems|merge([{
            'route': 'applications',
            'parameters': {'applicationName': app},
            'text': app
        }]) %}
    {% endfor %}
    {{ ui_menu.multi('Applications', 'desktop', appMenuItems) }}
    {% endif %}

  </ul>
{% endblock %}
